# Dart / Flutter
.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# Generated
**/*.g.dart

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example
*.jks
*.keystore
key.properties
